body{
    background-color: yellow;
    font-family: PT Sans Narrow;
}

.navbar-nav{
    text-transform: uppercase;
    background-color:orange;
    
}
.nav-link{
    opacity: 0.7;
}
.nav-link:hover{
    opacity: 1;
    background-color: #89ff00;
}

h1{
    color: white;
}
.button-primary{
    background-color: blue;
}
.button-secondary{
    background-color: green;
}

header{
    height: 600px;
    width: 100%;
    background-image:url("header.jpg");
    background-size:cover;
}
.services i{
    font-size: 30px;
    padding: 25px 20px;
    color: #fff;
    background-color: #5bc0de;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.services span{
    width: 200px;
    display: inline-block;
}
.services {
    text-align: center;
}
.Paris{
    border-radius: 100%;
    height: 100px;
    width: 120px;
}
.container{
    width: 700px;
}
.contact{
    padding: 28px;
}